<%- include('layouts/layout') %>
        <div class="search-container">
            <form action="/blog/search/" method="get">
                <input type="text" placeholder="Search Blogs" name="query">
                <button type="submit">Search</button>
            </form>
        </div>
        <%if(numberOfBlogs > 0) { %>
            <h1>Read all Blogs</h1>
        <% } else { %>
            <h1>oops No blogs here :(</h1>
            <h2>Please wait to create blogs by creator</h2>
        <% } %>
        <div id="blog-container">
            <% blogs.forEach( blog => { %>
                <div class="blog">
                    <div class="blog-text">
                        <h2><%= blog.title %></h2>
                        <h4><%= blog.user.userName %></h4>
                        <% if(blog.content.length > 100) { %>
                            <p><%= blog.content.substring(0, 100) %></p>
                        <% } else { %>
                            <p><%= blog.content %></p>
                        <% } %>
                        <a href="/blog/<%= blog._id %>">Read more...</a>
                    </div>
                </div>
            <% }); %>
        </div>
        <section class="pagination">
            <%  if(currentPage !== 1) { %>
                <a href="/blog/<% if(isFilter) { %>search?query=<%= query %><% } %><% if(isFilter) { %>&<% } else { %>?<%  } %>page=1">1</a>
            <% } %> 
            <%  if(hasPrevPage && prevPage !== 1) { %>
                <a href="/blog/<% if(isFilter) { %>search?query=<%= query %><% } %><% if(isFilter) { %>&<% } else { %>?<%  } %>page=<%= prevPage %>"><%= prevPage %></a>
            <% } %> 
                <a href="/blog/<% if(isFilter) { %>search?query=<%= query %><% } %><% if(isFilter) { %>&<% } else { %>?<%  } %>page=<%= currentPage %>" class="current-page"><%= currentPage %></a>
            <%  if(hasNextPage && nextPage !== lastPage) { %>
                <a href="/blog/<% if(isFilter) { %>search?query=<%= query %><% } %><% if(isFilter) { %>&<% } else { %>?<%  } %>page=<%= nextPage %>"><%= nextPage %></a>
            <% } %> 
            <%  if(currentPage < lastPage) { %>
                <a href="/blog/<% if(isFilter) { %>search?query=<%= query %><% } %><% if(isFilter) { %>&<% } else { %>?<%  } %>page=<%= lastPage %>"><%= lastPage %></a>
            <% } %> 
        </section>
    </body>
</html>
