<%- include('layouts/layout') %>
        <% if(errors !== 'none') { %>
            <% console.log(errors)%>
            <div class="err"><%= errors %></div>
        <% } %>
        <div class="login-container">
            <h2>signUp</h2>
            <form action="/auth/signUp" method="post">
                <label for="username">Username</label>
                <input type="text" id="userName" name="userName" value="<%= userName %>" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= email %>" required>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= password %>" required>
                
                <button type="submit">Sign UP</button>
            </form>
        </div>
    </body>
</html>